* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
.nav-bar {
  background-color: cornflowerblue;
  border-bottom: 1px solid #dbdbdb;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between; /* Separate logo and nav links */
  align-items: center;
  list-style: none; /* Remove default bullets */
  margin: 0;
  padding: 0;
}

.nav-bar .nav-home {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.nav-bar .nav-links {
  margin-left: 15px; /* Spacing between links */
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.nav-bar a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
}

/* Footer */
footer {
  background-color: lightgray;
  color: black;
  text-align: center;
  padding: 15px 0; /* Reduced padding */
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem; /* Reduced font size */
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
  font-size: 0.8rem; /* Reduced font size */
}

.container {
  display: flex;
}

.sidebar {
  width: 17.5%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.main {
  flex: 1;
  padding: 20px;
}
