/* Define custom properties (variables) at the root level */
:root {
    --primary-color: cornflowerblue;
    --background-color: #f4f4f9;
    --font-color: #333;
    --link-color: #007bff;
    --border-color: #dbdbdb;
    --font-family: 'Arial, sans-serif';
    --line-height: 1.6;
    --nav-padding: 10px 20px;
    --nav-link-spacing: 15px;
    --font-size-large: 2.5rem;
    --font-size-medium: 1.5em;
    --font-size-small: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: var(--line-height);
    margin: 0;
    text-align: center;
}

/* Navigation Bar */
.nav-bar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: var(--nav-padding);
}

.nav-bar ul {
    display: flex;
    justify-content: space-between; /* Separate logo and nav links */
    align-items: center;
    list-style: none; /* Remove default bullets */
}

.nav-bar .nav-home {
    margin-right: auto;
    font-weight: bold;
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-bar .nav-links {
    margin-left: var(--nav-link-spacing); /* Spacing between links */
}

.nav-bar a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1em;
}

.nav-bar a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 20vh;
    font-size: var(--font-size-large);
}

p {
    font-size: var(--font-size-small);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
